<nav class="navbar navbar-expand" style="background-color:#2c3e50">
	<div class="container-fluid">
	  <a class="navbar-brand text-white" href="#">ESPORTS</a>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<ul class="navbar-nav mb-2 mb-lg-0">
				<a class="nav-link mx-2 text-light link" aria-current="page" href="/"><img src="/icons/home.png">&#8194;Home</a>
				<a class="nav-link mx-2 text-light link" href="/games"><img src="/icons/game.png">&#8194;Games</a>
				<a class="nav-link mx-2 text-light link" href="/players"><img src="/icons/player.png">&#8194;Players</a>
				<a class="nav-link mx-2 text-light link" href="/teams"><img src="/icons/team.png">&#8194;Teams</a>
		</div>
	  </div>
	</div>
  </nav>