<%- include("../../partials/nav") %>
<%- include("../../partials/head") %>
<%- include("../../partials/gameValidation") %>

<body>
	<ol class="breadcrumb p-2">
		<li class="breadcrumb-item"><a class="breadcrumbPrevious" href="/">Home</a></li>
		<li class="breadcrumb-item"><a class="breadcrumbPrevious" href="/games">Games</a></li>
		<li class="breadcrumb-item breadcrumbCurrent">Add Game</li>
	</ol>
	
	<% if (query.success == "false") { %>
		<div class="toast-container p-3 bottom-0 end-0">
			<div class="toast show bg-danger" id="alertBox">
				<div class="toast-body">
					<p class="m-0" id="alertText">Please only enter numbers into Duration and Team Size</p>
				</div>
			</div>
		</div>
	<% } %>
	
	<div class="toast-container p-3 bottom-0 end-0">
		<div class="toast invisible bg-danger" id="alertBox">
			<div class="toast-body">
				<p class="m-0" id="alertText">text</p>
			</div>
		</div>
	</div>
	
	<div class="container h-100 d-flex justify-content-center align-items-center">
		<div class="container w-50 shadow p-3 mb-5 darker rounded text-white">
			<h2>Add Game</h2>
			<form action="http://localhost:3000/add/game" onsubmit="return validateForm()" method="post">
				<label for="name">Game Name</label> </br>
				<input class="userInput rounded" type="text" name="name" id="name"> </br>
				<label for="duration">Duration</label> </br>
				<input class="userInput rounded" type="text" name="duration" id="duration"> </br>
				<label for="team_size">Team Size</label> </br>
				<input class="userInput rounded" type="text" name="team_size" id="team_size"> </br>
				<button class="btn saveButton mt-2" type="submit">Add Game</button>
				<a class="btn deleteButton mt-2" href="/games" role="button">Discard</a>
			</form>
		</div>
	</div>
</body>
</html>