body {
	background-color: #34495e;
	color: white;
	font-family: Calibri;
}

.homeContainer {
	display: block;
	height: 25vh;
	width: 25vw;
}

.breadcrumbPrevious {
	color: white;
	text-decoration: underline;
}

.breadcrumbCurrent {
	color: white;
	font-weight: bold;
}

.gameSelect {
	color: white;
	background-color: #34495e;
	border-style: solid;
	border-color: #466380;
}

.userInput {
	background-color: #34495e;
	color: white;
	border-style: solid;
	border-color:  #466380
}

.darker {
	background-color: #2c3e50;
}

.editButton {
	background-color: #e67e22;
	color: white;
}

.deleteButton {
	background-color: #e74c3c; 
	color: white;
}

.saveButton {
	background-color: #2ecc71;
	color: white;
}

.defaultButton {
	background-color: #22303d;
	color: white;
}

.gamesButton {
	background-color: #2ecc71;
	width: 210.337px;
	color: white;
}

.addButton {
	background-color: white;
	color: black;
}

.editButton:hover {
	background-color: #d35400;
}

.deleteButton:hover {
	background-color: #c0392b;
}

.saveButton:hover {
	background-color: #27ae60;
}

.gamesButton:hover {
	background-color: #27ae60;
}

.addButton:hover {
	background-color: rgb(216, 216, 216);
	color: black;
}

.breadcrumbPrevious:hover {
	color: white;
}

.defaultButton:hover {
	background-color: #24323f;
	color: white;
}

.link:hover {
	background-color: #22303d;
}

#menu {  
	align-items: center;
	display: flex;
	height: 96.5vh;
	width: 55vw;
}
  
#menu-items {
	margin-left: 125px;
	position: relative;
	width: 20vw;
}

#menu-items:hover > .menu-item {
	opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
	color: white;
	opacity: 1; 
}

.menu-item {
	color: white;
	cursor: pointer;
	display: block;
	font-size: 50px;
	padding: 10px;
	text-decoration: none;
	transition: opacity 300ms ease;
}