<%- include("../partials/head") %>
<%- include("../partials/nav") %>

<body>
	<div class="row align-items-center">
		<div id="menu">
			<div id="menu-items">
				<a class="menu-item" href="/games"><img src="/icons/gameLarge.png">&#8194;Games</a>
				<a class="menu-item" href="/players"><img src="/icons/playerLarge.png">&#8194;Players</a>
				<a class="menu-item" href="/teams"><img src="/icons/teamLarge.png">&#8194;Teams</a>
			</div>
		</div>
		
		<div class="darker col-6 col-sm-3 p-2">
			<h2>ESports Championships</h2>
			<p>
				Clicking the respective button on the left, or on the navigation bar, will 
				redirect you to a page that shows data about either Games, Players, or 
				Teams. On each page you will be able to view, add, edit, and delete data.
			</p>
			<p><img src="/icons/game.png"/>&#8194;Games - Contains a list of games.</p>
			<p><img src="/icons/player.png"/>&#8194;Players - Contains a list of players as well as the ability to view the games they specialize in.</p>
			<p><img src="/icons/team.png"/>&#8194;Teams - Contains a list of teams.</p>
		</div>
	</div>
</body>
</html>